# *~
# *#*
# *.pyc
# *.swp
# __pycache__
# media/
# dulicates/
# *.settings.py
# /Raahi/settings.py
# /home/mahiti/Desktop/login_dev/Raahi/Raahi/settings.py
# */__pycache__/*
# */*/*/__pycache__/
# */*/__pycache__/
# */__pycache__/
# /media/*
# *.log
# *.log.*
# .pyc/
# !.gitignore