{% load static %}
{% load report_tags %}
{% block filters %}
    {% if excluding_filters %}
        <script>
            document.getElementById('{{excluding_filters}}').style.display = 'none';
        </script>
    {% endif %}
    <form action="/report/truc-month-report/month/" method="POST" id='filter_form'>
        {% csrf_token %}
        <div class="row">
            {% comment %} {{filter_values}} {% endcomment %}
            {% for filter in filter_values %}
                <!-- display all filter values based on the filters configured for the report -->
                <!-- handled drop down/select filters-->
                <!-- TODO: text search, date range, date filters yet to be configured -->
                <div class="col-lg-3 col-sm-3 col-md-3 mt-3">
                    {% if filter.4 == 'select' %}
                    <label>{{filter.3}}</label>
                        <select class="select2 form-select {{filter.0}}" id='{{filter.0}}' name='{{filter.0}}' >
                            {%if filter.1|dict_len != 1 and filter.3 != 'Model Type' %}
                                <option value='' selected>All</option>
                            {% endif %}
                            {% for filter_item in filter.1 %}
                            <option value="{{filter_item.0}}" {% if filter_item.0|slugify == filter.2|slugify %}selected{% endif %}>
                                {{filter_item.1}}</option>
                            {% endfor %}
                        </select>
                        {% elif filter.4 == 'multi-select' %}
                        <label>{{filter.3}}</label>
                            <select  style="width: 100%" class="select2 form-select {{filter.0}}" id='{{filter.0}}' name='{{filter.0}}'>
                                {%if filter.1|dict_len != 1 and filter.3 != 'Model Type' %}
                                    <option value='' selected>All</option>
                                {% endif %}
                                {% for filter_item in filter.1 %}
                                <option value="{{filter_item.0}}" {% if filter_item.0|slugify in filter.2|slugify %} selected {% endif %}>
                                    {{filter_item.1}}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    <input type="hidden" id="__hd__{{filter.0}}" name="__hd__{{filter.0}}" value="{{filter.2}}"/>
                </div>
            {% endfor %}
            <div class="col-lg-3 col-sm-3 col-md-3 mt-3">
                <label>Month-Year</label>
                <input type="{% if month_filter != '' %}month{% else %}text{% endif %}" name="from_month" style='color: #545b62 !important; font-size: 14px !important; font-weight: 500 !important;' value="{{ month_filter }}"  class="form-control start_date" onclick='if(this.type == "text") {this.type="month";}' id="from_month"  placeholder='From Month' {% if month_filter == '' %}   max="{{ last_month|date:'Y-m' }}" {% else %}   max="{{ month_filter }}" {% endif %} required>
            </div>
            <div class="col-auto mt-3 ">
                <button type="submit" class="form-control btn btn-success waves-effect btn-xs float-right">Search</button>
            </div>
            <div class="col-auto mt-3 ">
                <button type="reset" id="filter_reset"  class="form-control btn btn-warning waves-effect btn-xs float-right" value="True">Reset Filters</button>
            </div>
        </div>
    </form>
    {% comment %} <div class="row">     
        <div class="col-md-12 col-lg-12 col-sm-12 mt-2">
            <p class="text-info" style="font-size:.7rem !important">Note: Use the Focus button to review data in a single row without losing focus while scrolling back and forth. Click the focus button and select a row in the table. The selected row is highlighted and highlight is retained till you click the same row again or click on a different row.</p>
        </div>
    </div> {% endcomment %}
    <script type="text/javascript">
        //TODO: yet to test the onchange state/district
        document.addEventListener('DOMContentLoaded', function() {
            $("button[type='reset']").on("click", function(event){
                debugger;
                $("#groupby option").remove();
                $('#from_month').val("");
                $('#donor_name').val("");
                $("#hospital_name").val("");
                $("state").val("")
                $('#filter_form').submit();
    
            });
            $(document).ready(function () {
                $('select#state').change(function () {
                    var optionSelected = $(this).find("option:selected");
                    var valueSelected = optionSelected.val();
                    if (valueSelected == ''){
                        $("#donor_name option").remove();
                        $("#hospital_name option").remove();
                    }else{
                        data = {
                            'selected_state': valueSelected
                        };
                        $.ajax({
                            type: "GET",
                            url: '/ajax/report_donor/',
                            data: data,
                            success: function (result) {
                                $("#donor_name option").remove();
                                a = '<option selected value="">All</option>';
                                $("#donor_name").append(a);
                                if (JSON.parse(result) == 0) {
                                    a ='<option selected disabled value="">No Donor mapped for this State</option>';
                                    $("#donor_name").append(a);
                                } else {
                                    $.each(JSON.parse(result), function (key, value) {
                                        a = '<option value=' + value['id'] + '>' +
                                            value['name'] + '</option>';
                                        $("#donor_name").append(a);
                                    });
                                }
                            }
                        });
                        $.ajax({
                            type: "GET",
                            url: '/ajax/report_partner/',
                            data: data,
                            success: function (result) {
                                $("#hospital_name option").remove();
                                a = '<option selected value="">All</option>';
                                $("#hospital_name").append(a);
                                if (JSON.parse(result) == 0) {
                                    a ='<option selected disabled value="">No Parner mapped for this State</option>';
                                    $("#hospital_name").append(a);
                                } else {
                                    $.each(JSON.parse(result), function (key, value) {
                                        a = '<option value=' + value['id'] + '>' +
                                            value['name'] + '</option>';
                                        $("#hospital_name").append(a);
                                    });
                                }
                            }
                        });
                    }

                });
            });
        });
    </script>
    <script>
        var today = new Date();
        var year = today.getFullYear();
        var month = today.getMonth();
        var currentMonth = (month < 10 ? "0" : "") + month;
        var lastMonth = year + "-" + currentMonth;
        document.getElementById("from_month").max = lastMonth;
    </script>
{% endblock  %}