{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link href="{% static 'libs/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css'%}" rel="stylesheet" type="text/css">

<!-- DataTables -->
<link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"
    type="text/css" />
<link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet"
    type="text/css" />

<!-- Responsive datatable examples -->
<link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet"
    type="text/css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">{% endblock %}

{% block contents %}
<style>
    #btn-outline-danger {
    position: fixed;
    bottom: 0px;
    right: 0px; 
}
.datepicker{
    display: inline-flex;
    position: relative;
    padding: 0px;
    overflow: clip;
    margin-top: 8px;
    border: 0px;
  }
  .datepicker:focus-within {
      outline: black auto 2px;
  }
  .datepicker > input[type=date] {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    opacity: 0;
      cursor:pointer;
  }
  .datepicker > input[type=date]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: -150%;
    left: -150%;
    width: 300%;
    height: 300%;
    cursor: pointer;
  }
  .disabled-link {
    pointer-events: none; 
    opacity: 0.5;
}
/* .input-group>.form-control{
    -webkit-box-flex: 0;
    flex: 0;
    padding: 0px!important;
    height: 0px;
} */
.btn {
   margin: 2px;
}
.btn-group, .btn-group-vertical {
    margin-left: 0px;
}
.btn-group>.btn:not(:first-child) {
    margin-left: 2px;
}
.datepicker {
    position: absolute;
    margin-top: 0px;
}
</style>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="card-body pb-0">
                    <form action="" class="needs-validation form-horizontal" autocomplete="off" enctype="multipart/form-data" novalidate  method="GET" id="filters">
                        <div class="row">
                            <div class="col-md-4">  
                                <div class="mb-3">
                                    <label for="state">State:</label>
                                    <select  class="form-select select2"  aria-label="Floating label select example" 
                                    placeholder="Choose State" id="state" name='state_name' >      
                                        <option selected value="">Choose state</option>
                                        {% for states in state %}
                                            <option value="{{states.id}}" {% if states.id == state_names %}selected{% endif %}>{{states.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>   
                            </div>
                            <div class="col-md-4">  
                                <div class="mb-3">
                                    <label for="district">District :</label>
                                    <select  class="form-select select2"  aria-label="Floating label select example" placeholder="Choose District" id="district" name='district_name' >      
                                        <option selected value="">Choose District</option>
                                        {% for districts in district_obj %}
                                        <option value="{{districts.id}}" {% if districts.id == district_names %}selected{% endif %}>{{districts.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>   
                            </div>
                            <div class="col-md-4">  
                                <div class="mb-3">
                                    <label for="">Donor :</label>
                                    <select  class="form-select select2"  aria-label="Floating label select example" placeholder="Choose Donor" id="donor" name='donor_name' >      
                                        <option selected value="" >Choose Donor</option>
                                        {% for donors in donor_obj %}
                                        <option value="{{ donors.id }}" {% if donors.id == donor_names %}selected{% endif %}>{{ donors }}</option>
                                        {% endfor %}
                                    </select>
                                </div>   
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">  
                                <div class="mb-3">
                                    <label for="">Hospital Name :</label>
                                    <select  class="form-select select2"  aria-label="Floating label select example" placeholder="Choose Hospital" id="hospital" name='hospital_name' >      
                                        <option selected value="">Choose Hospital</option>
                                        {% for partners in partner_objs %}
                                        <option value="{{partners.id}}" {% if partners.id == hospital_names %}selected{% endif %}>{{partners.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>   
                            </div>
                            <div class="col-md-4">  
                                <div class="mb-3">
                                    <label for="">Vision Center :</label>
                                    <select  class="form-select select2"  aria-label="Floating label select example" placeholder="Choose Vision center" id="visioncenter" name='vision_cent' >      
                                        <option selected value="">Choose Vision center</option>
                                        {% for vision_center in vision_centers %}
                                        <option value="{{vision_center.id}}" {% if vision_center.id == vision_names %}selected{% endif %}>{{vision_center.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>   
                            </div>
                            <div class="col-md-4">  
                                <div class="mb-3">
                                    <label for="">Camp Name :</label>
                                    <select  class="form-select select2"  aria-label="Floating label select example" placeholder="Choose Camp" id="camp" name='camp_name' >      
                                        <option selected value="">Choose Camp</option>
                                        {% for camp in camp_obj %}
                                        <option value="{{camp.id}}" {% if camp.id == camp_names %}selected{% endif %}>{{camp.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>      
                            </div>
                            
                            
                            {% comment %} <div class="col-md-4">  
                                <div class="mb-3">
                                    <label for="model_type">Model Type</label>
                                    <select  class="form-select select2"  aria-label="Floating label select example" placeholder="Choose Hub/Spoke" id="spokeid" name='spoke'  onchange="handleModelTypeChange(this)">      
                                        <option value="0" {% if request.GET.spoke == '0' %}selected{% endif %}>Choose Hub/Spoke</option>
                                        <option value="1" {% if request.GET.spoke == '1' %}selected{% endif %}>Both</option>
                                        <option value="2" {% if request.GET.spoke == '2' %}selected{% endif %}>Camp</option>
                                        <option value="3" {% if request.GET.spoke == '3' %}selected{% endif %}>Static Centre</option>
                                    </select>
                                </div>   
                            </div>
                            <div class="col-md-4" id="camp_id">  
                                <div class="mb-3">
                                    <label for="hub_or_spoke">Hub/Spoke :</label>
                                    <select  class="form-select select2"  aria-label="Floating label select example" placeholder="Choose camp" id="campid" name='camp' >      
                                        <option selected value="" >Choose camp</option>
                                        {% for camp_ob in camp_obj %}
                                        <option value="{{camp_ob.id}}" {% if camp_ob.id == camps %}selected{% endif %}>{{camp_ob}}</option>
                                        {% endfor %}
                                    </select>
                                </div>   
                            </div>
                            <div class="col-md-4" id="static_center_id">  
                                <div class="mb-3">
                                    <label for="hub_or_spoke">Hub/Spoke :</label>
                                    <select  class="form-select select2"  aria-label="Floating label select example" placeholder="Choose static center" id="static_centerid" name='static_center' >      
                                        <option selected value="" >Choose static center</option>
                                        {% for vision_center in vision_centers %}
                                        <option value="{{vision_center.id}}" {% if vision_center.id == static_centers %}selected{% endif %}>{{vision_center}}</option>
                                        {% endfor %}
                                    </select>
                                </div>   
                            </div>
                            <div class="col-md-4" id="both_id">  
                                <div class="mb-3">
                                    <label for="hub_or_spoke">Hub/Spoke :</label>
                                    <select  class="form-select select2"  aria-label="Floating label select example" placeholder="Choose static center" id="bothid" name='both' >      
                                        <option selected value="" >Choose Hub/Spoke :</option>
                                        {% for vision_center in both_obj %}
                                        <option value="{{vision_center.id}}" {% if vision_center.id == boths %}selected{% endif %}>{{vision_center}}</option>
                                        {% endfor %}
                                    </select>
                                </div>   
                            </div> {% endcomment %}
                            <div class="col-md-4">  
                                <div class="mb-3">
                                    <label>From Date:</label>
                                    <div class="position-relative" id="datepickerFrom">
                                        <input type="text" class="form-control" value="{{start_date}}" name="from_date" id="from_date" data-date-container="#datepickerFrom" data-provide="datepicker"
                                            data-date-format="MM yyyy" data-date-min-view-mode="1" data-date-autoclose="true">
                                    </div>
                                </div>   
                            </div>

                            <div class="col-md-4">  
                                <div class="mb-3">
                                    <label>To Date:</label>
                                    <div class="position-relative" id="datepickerTo">
                                        <input type="text" class="form-control" name="to_date" id="to_date" value="{{end_date}}" data-date-container="#datepickerTo" data-provide="datepicker"
                                            data-date-format="MM yyyy" data-date-min-view-mode="1" data-date-autoclose="true">
                                    </div>
                                </div>   
                            </div>
                        </div>
                        <div class="row justify-content-end " style="margin-right:0px ;">
                            <div class="col-auto p-2">
                                <button type="submit" class="btn btn-outline-success waves-effect btn-xs float-right"><i class="fas fa-filter" title="Filter"></i></button>
                            </div>
                            <div class="col-auto p-2">
                                <button type="reset" id="filter_reset"  class=" btn btn-outline-warning waves-effect btn-xs float-right" ><i class="fas fa-refresh" title="Reset Filter"></i></button>
                            </div>
                            {% if request.session.role_id == 4 %}
                            <div class="col-auto p-2" style="float: right; ">
                                <button type="button" class="form-control btn btn-outline-primary waves-effect btn-xs float-right" onclick="location.href='/add_camp/'"><i class="bx bx-plus-medical" title="Add New"></i></button>
                            </div>
                            {% endif %}
                        </div>
                    </form> 
                </div>
                <div class="table-responsive mb-3" data-pattern="priority-columns">
                    <table id="datatables" class="table table-striped dt-responsive mb-0 mt-3">
                        <thead class="table-light">
                            <tr>
                                <th>SI No</th>
                                <th>Hospial Name</th>
                                <th>Camp Name</th>   
                                <th>Camp / Patient Reg-Date</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>No.of Patients Registered</th>   
                                <th>No.of Screening Registered</th>   
                                <th>No.of Family Member Registered</th>   
                                <th>No.of Visual Acuity Registered</th>   
                                <th>No.of Glass Prescription Registered</th>   
                                <th>No.of Spectacle Type Registered</th>   
                                <th>Synced Date</th>   
                                <th>Approved By</th>
                                <th>Approved Date</th> 
                                <th>Remarks</th> 
                                <th>Action</th>
                                
                            </tr>   
                           
                        </thead>
                        <tbody>
                            
                            {% for l in data %}
                            <tr>
                                <td>{{ forloop.counter0|add:data.start_index }}</td>
                                <td>{{l.hospital_name}}</td>
                                <td>{% if l.camp %}{{l.camp}}{% else %}{{l.vision_center}}{% endif %}</td>
                                <td>{{l.start_date|date:"Y-m-d"}}</td>
                                <td>{{l.start_date|date:"Y-m-d"}}</td>
                                <td>{{l.end_date|date:"Y-m-d"}}</td>
                                <td>{{l.no_of_patients_syn}} (<span style="color: red;">{{l.no_of_patients_not_syn}}</span>)</td>
                                <td>{{l.no_of_screening_syn}} (<span style="color: red;">{{l.no_of_screening_not_syn}}</span>)</td>
                                <td>{{l.no_of_family_member_syn}} (<span style="color: red;">{{l.no_of_family_member_not_syn}}</span>)</td>
                                <td>{{l.no_of_visual_acuity_syn}} (<span style="color: red;">{{l.no_of_visual_acuity_not_syn}}</span>)</td>
                                <td>{{l.no_of_glass_prescription_syn}} (<span style="color: red;">{{l.no_of_glass_prescription_not_syn}}</span>)</td>
                                <td>{{l.no_of_spectacle_type_syn}} (<span style="color: red;">{{l.no_of_spectacle_type_not_syn}}</span>)</td>
                                <td>{{l.end_date|date:"Y-m-d"}}</td>
                                <td>{{l.approved_by|default_if_none:'-'}}</td>
                                <td>{{l.approved_on|default_if_none:'-'}}</td>
                                <td>{{l.remarks|default_if_none:'-'}}</td>
                                <td>
                                    <div class="btn-group flex-row align-items-center">
                                        {% if l.not_syn_patients_ids != "" or l.not_syn_screening_ids != "" or l.not_syn_family_member_ids != "" or l.not_syn_visual_acuity_ids != "" or l.not_syn_glass_prescription_ids != "" or l.not_syn_spectacle_type_ids != "" %}
                                            <a href="/approve-patient/{{l.id}}/" class="btn btn-outline-success" title="Approve"><i class="mdi mdi-file-upload"></i></a>
                                        {% else %}
                                            <a href="/approve-patient/{{l.id}}/" class="btn btn-outline-success disabled-link" title="Approve"><i class="mdi mdi-file-upload"></i></a>                                        
                                        {% endif %}
                                        <a href="/data-freeze-patients/{{l.id}}/" class="btn btn-outline-primary" title="Edit"><i class="fas fa-align-justify"></i></a>
                                    </div>
                                </td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <nav aria-label="...">
                    {% if data.has_other_pages %}
                    <ul class="pagination justify-content-end "> 
                        {% if data.has_previous %}
                        <li class="paginate_button page-item"><a class="page-link" href="?page=1&state_name={{state_names}}&district_name={{district_names}}&search={{search}}">First</a></li>
                        {% else %}
                        <li class="paginate_button page-item disabled"><span class="page-link">First</span></li>
                        {% endif %}
                        {% for i in display_page_range %}
                            {% if data.number == i %}
                            <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                            <li class="paginate_button paginate_button page-item"><a class="page-link" href="?page={{ i }}&state_name={{state_names}}&district_name={{district_names}}&search={{search}}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if data.has_next %}
                            <li class="paginate_button page-item"><a class="page-link" href="?page={{ data.paginator.num_pages }}&state_name={{state_names}}&district_name={{district_names}}&search={{search}}">Last</a></li>
                        {% else %}
                            <li class="paginate_button page-item disabled"><span class="page-link">Last</span></li>
                        {% endif %}
                        </ul>
                    {% endif %}
                </nav> 
            </div> 
        </div> 
        <!-- {% if orderrequestdetails.order_request.order_status == 1 %}<button class='btn btn-danger' onclick="Confirm('{{l.id}}', '{{model}}', 'pending')">pending</button>{% else %}<button class='btn btn-success' onclick="Confirm('{{l.id}}', '{{model}}', 'Submit for approval')">Submit for approval</button>{% endif %} -->
    </div>
</div> 

{% endblock %}
{% block extra_javascript %}
<script src="{% static 'libs/sweetalert2/dist/sweetalert2.min.js' %}"></script>

<script src="{% static 'libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js'%}"></script>
<!-- Required datatable js -->
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<!-- <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script> -->
<!-- Buttons examples -->
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>

<!-- Responsive examples -->
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

<!-- Datatable init js -->
<script src="{% static 'js/pages/datatables.init.js' %}"></script>
<script src="{% static 'js/pages/form-advanced.init.js'%}"></script>

<script type="text/javascript" >
    function OnSeletDate(capid, date, title) {
        Swal.fire({
            title: 'Please Enter Reason For Delay?',
            input: 'textarea',
            showCancelButton: true,
            confirmButtonText: 'Yes',
            inputValidator: function (value) {
                return !value && 'You need to write something!'
            }
        }).then((result) => {
            if (result.isConfirmed){
                window.location.href = '/camp_date_update/'+capid+'/'+date.value+'/'+result.value +'/';
            };
        })
    }
    function openSelect(file, date){
        $(file).datepicker('show');
      }

   
    function Confirm(id, title) {
        Swal.fire({
            title: "Are you sure!",
            text:"You want to "+ title +"?",
            showCancelButton: !0,
            confirmButtonColor: "#34c38f",
            cancelButtonColor: "#f46a6a",
            confirmButtonText: "Yes, "+ title +" it!",
        }).then((result) => {
            if (result.isConfirmed){
                window.location.href = '/'+id+'/delete_camp/';
            };
                
        })
    };

</script>
<script type="text/javascript">
    $('#filter_reset').click(function() {
        $('#state').val('');
        $('#district').prop('selectedIndex', 0).change();        
        $('#donor').val('');
        $('#hospital').val('');
        $('#camp').val('');
        $('#from_date').val('');
        $('#to_date').val('');
        $('#spokeid').val('');
        $('#campid').val('');
        $('#visioncenter').val('');
        $('#static_centerid').val('');
        $('#bothid').val('');
        
        this.form.submit();
  });

    
  document.addEventListener('DOMContentLoaded', function() {
    $('#state').change(function() {
        var optionSelected = $(this).find("option:selected");
        var valueSelected = optionSelected.val();
        
        if (valueSelected === "") {
            $("#district option").remove();
            return; 
        }

        $.ajax({
            type: "GET",
            url: '/ajax/district/' + valueSelected + '/',
            success: function(result) {
                $("#district option").remove();
                a = '<option selected value="">Choose District Name</option>';
                $("#district").append(a);

                if (JSON.parse(result) == 0) {
                    $("#district option").remove();
                    a = '<option selected value="">No district is mapped to this State</option>';
                    console.log(a)
                    $("#district").append(a);
                } else {
                    $.each(JSON.parse(result), function(key, value) {
                        a = '<option value=' + value['id'] + '>' + value['name'] + '</option>';
                        $("#district").append(a);
                    });
                }
            }
        });
    });

});


    
</script>


<script>
    var campFilter = document.getElementById('camp_id');
    var staticCenterFilter = document.getElementById('static_center_id');
    var bothFilter = document.getElementById('both_id');
    campFilter.style.display = 'none';
    staticCenterFilter.style.display = 'none';
    bothFilter.style.display = 'none';

    selectedValue='{{spoke}}'
    if (selectedValue === '2') {
        campFilter.style.display = 'block';
        staticCenterFilter.style.display = 'none';
        bothFilter.style.display = 'none';
    } else if (selectedValue === '3') {
        campFilter.style.display = 'none';
        staticCenterFilter.style.display = 'block';
        bothFilter.style.display = 'none';
    } else if (selectedValue === '1'){
        campFilter.style.display = 'none';
        staticCenterFilter.style.display = 'none';
        bothFilter.style.display = 'block';
    }


    function handleModelTypeChange(selectElement) {
        const selectedValue = selectElement.value;
        
        // Hide all filter options initially
        document.getElementById("camp_id").style.display = "none";
        document.getElementById("static_center_id").style.display = "none";
        document.getElementById("both_id").style.display = "none";

        // Reset the other filter options
        document.getElementById("campid").selectedIndex = 0;
        document.getElementById("static_centerid").selectedIndex = 0;
        document.getElementById("bothid").selectedIndex = 0;

        // Show the selected filter option
        if (selectedValue === "2") {
            document.getElementById("camp_id").style.display = "block";
        } else if (selectedValue === "3") {
            document.getElementById("static_center_id").style.display = "block";
        } else if (selectedValue === "1") {
            document.getElementById("both_id").style.display = "block";
        }
    }
    
</script>
{% endblock %}
