{% load static %}
<style>
  .tableCell{
    text-align:center;
  }
  .headerCell{
    background-color:#FFAA00;
  }
  .oddTableRow{
    /*background-color:#ffeecd;*/
    background-color:#eeeeed;;
  }
  .hoverTableRow{
    background-color:#dededc;
  }
  .selectedTableRow{
    background-color:#d1d6bb;
  }
  .google-visualization-table-sortind {
    color: #fff!important;
    padding-left: 4px;
  }
</style>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">

//console.log(value.container_id);
google.charts.load('50', {'packages':['corechart','table']});
google.charts.setOnLoadCallback(drawChart);
var datas = {};
//var chartsRef = {"stay_since_adoption_inquiry":"","last_review_by_cwc":"","visitation":"","categories_in_cci":"","recommended_adoption_view":"","classification_visitation":"","orphaned_unfit_guardians":"","stay_in_cci":"","children_with_unfit_parents":"","children_cases_being_worked_on":"","child_adpotion_status":"","stages_cases_being_worked_on":""}
var chartsRef = {"stay_since_adoption_inquiry":"","last_review_by_cwc":"","visitation":"","categories_in_cci":"","recommended_adoption_view":"","classification_visitation":"","orphaned_unfit_guardians":"","stay_in_cci":"","children_with_unfit_parents":"","children_cases_being_worked_on":"","child_adpotion_status":"","stages_cases_being_worked_on":""};

//var chartsFunctionname = {"stay_since_adoption_inquiry":stay_since_adoption_inquiry_click_handler,"last_review_by_cwc":last_review_by_cwc_click_handler,"visitation":visitation_click_handler,"categories_in_cci":categories_in_cci_click_handler,"recommended_adoption_view":recommended_adoption_view_click_handler,"classification_visitation":classification_visitation_click_handler,"orphaned_unfit_guardians":orphaned_unfit_guardians_click_handler,"stay_in_cci":stay_in_cci_click_handler,"children_with_unfit_parents":children_with_unfit_parents_click_handler,"children_cases_being_worked_on":children_cases_being_worked_on_click_handler,"child_adpotion_status":child_adpotion_status_click_handler,"stages_cases_being_worked_on":stages_cases_being_worked_on_click_handler}
var chartsFunctionname = {};

var chartsDefaultPointer = {};

var chartsHandPointer = {};

    {% for ct in data_html.chart %}
        {% if ct.click_url_template != "" %}
            window.{{ct.chart_name}}_click_handler = function (){
                //debugger;
                var selectedChart = chartsRef['{{ct.chart_name}}'];
                var selection = selectedChart.getSelection();
                var click_url_template = '{{ct.click_url_template}}';
                {%if ct.chart_row_id_value %}
                  var chart_row_id_value = {{ct.chart_row_id_value}};
                {% else %}
                  var chart_row_id_value = [];
                {% endif %}
                //console.log("click_url_template:"+click_url_template);
                //alert($('#state').val());
                var url = click_url_template.replaceAll("&amp;","&");
                url = url.replace('chcl_state=&','chcl_state=' + $('#chcl_state').val() + '&');
                url = url.replace('chcl_district=&','chcl_district=' + $('#chcl_district').val() + '&');
                url = url.replace('chcl_shelter=&','chcl_shelter=' + $('#chcl_shelter').val() + '&');
                var row_id = -1;
                for (var i = 0; i < selection.length; i++) {
                    if (selection[i].row != null)
                    {
                        //url = on_click_urls[selection[i].row];
                        //url = on_click_urls[selection[i].row];
                        url = url.replace('chcl_chart_row=&','chcl_chart_row=' + selection[i].row + "&");
                        row_id = selection[i].row;
                        if (chart_row_id_value.length > 0)
                        {
                          url = url.replace('chcl_chart_data_id=','chcl_chart_data_id=' + chart_row_id_value[selection[i].row]);
                        }
                        if (selection[i].column != null)
                        {
                            //url = on_click_urls[selection[i].row];
                            //url = on_click_urls[selection[i].row];
                            url = url.replace('chcl_chart_col=&','chcl_chart_col=' + selection[i].column + "&");
                        }
                        break;
                    }
                }
                if(url.length > 0 && row_id != -1)
                {
                    url = url.replaceAll("&amp;","&");
                    window.open(url,'{{ct.chart_name}} - Report');
                    //alert('Chart url({{ct.chart_name}}): ' + url);
                    //console.log('URL:' + url);
                }
            }

            window.displayDefaultPointer_{{ct.chart_name}} = function() {
                $('#{{ct.chart_name}}').css('cursor','default');
            }
            window.displayHandPointer_{{ct.chart_name}} = function() {
                $('#{{ct.chart_name}}').css('cursor','pointer')
            }
            chartsFunctionname['{{ct.chart_name}}'] = window.{{ct.chart_name}}_click_handler;
            chartsDefaultPointer['{{ct.chart_name}}'] = window.displayDefaultPointer_{{ct.chart_name}};
            chartsHandPointer['{{ct.chart_name}}'] = window.displayHandPointer_{{ct.chart_name}};
        {% endif %}
    {% endfor %}

function drawChart()
{
datas= {{ data|safe }};
var chart;

for (data in datas.chart)
{
  var value = datas.chart[data];
  //console.log(value)
  if(value.chart_type == 'CARDCHART')
  {
    // chartsRef[value.chart_name] = chart;
    chartsRef[value.chart_name] = chart;
    continue;
  }
  const colours=value.colours
  if (colours != undefined){
    for (var i = 0; i < value['datas'].length; i++) {
      value['datas'][i].push(colours[i])
    }
  }

  var data = new google.visualization.arrayToDataTable(value.datas);

  var options = value.options;
  var on_click_url_template = value.click_url_template;
  //var on_click_urls = value.on_click_urls;
  //var on_click_handler = value.on_click_handler;
  var chart_type= value.chart_type;
  var containerID= value.chart_name;

  //document.getElementById(value.title_div).append(value.chart_title);
  //$(value.div_size_id).addClass(value.div);

  if(data.getNumberOfRows() == 0)
  {
    document.getElementById(containerID).append("Data Not Available");
  }
  else
  {
    if(chart_type == 'COLUMNCHART' )
    {
      // if all values are empty display "Data Not Available" instead of empty chart
      var arrayColumn = (arr, n) => arr.map(x => x[n]);
      var second_column = arrayColumn(value.datas, 1);
      var slice_first_row = second_column.slice(1, second_column.length);
      var all_array_value = slice_first_row.filter(x => x > 0).length >= 1;
      if(all_array_value==true)
      {
        var view = new google.visualization.DataView(data);

        view.setColumns([0, 1,
                { calc: "stringify",
                  sourceColumn: 1,
                  type: "string",
                  role: "annotation" },2]);
        chart = new google.visualization.ColumnChart(document.getElementById(containerID));
	if(on_click_url_template != '')
	{
        	google.visualization.events.addListener(chart, 'select', chartsFunctionname[value.chart_name]);
		      google.visualization.events.addListener(chart, 'onmouseover', chartsHandPointer[value.chart_name]);
        	google.visualization.events.addListener(chart, 'onmouseout', chartsDefaultPointer[value.chart_name]);
	}
        chart.draw(view, options);
      }
      else
      {
        document.getElementById(containerID).append("Data Not Available");
      }
    }
    else if(chart_type == 'PIECHART')
    { 
      // if all values are empty display "Data Not Available" instead of empty chart
      var arrayColumn = (arr, n) => arr.map(x => x[n]);
      var second_column = arrayColumn(value.datas, 1);
      var slice_first_row = second_column.slice(1, second_column.length);
      var all_array_value = slice_first_row.filter(x => x > 0).length >= 1;
      if(all_array_value==true)
      {
        var chart = new google.visualization.PieChart(document.getElementById(containerID));
        if(on_click_url_template != '')
        {     
                google.visualization.events.addListener(chart, 'select', chartsFunctionname[value.chart_name]);
                google.visualization.events.addListener(chart, 'onmouseover', chartsHandPointer[value.chart_name]);
                google.visualization.events.addListener(chart, 'onmouseout', chartsDefaultPointer[value.chart_name]);
        }
        chart.draw(data, options);
        
      }
      else
      {
        document.getElementById(containerID).append("Data Not Available");
      }
    }
    else if(chart_type == 'TABLECHART')
    {
      var chart = new google.visualization.Table(document.getElementById(containerID));
        if(on_click_url_template != '')
        {     
                google.visualization.events.addListener(chart, 'select', chartsFunctionname[value.chart_name]);
                google.visualization.events.addListener(chart, 'onmouseover', chartsHandPointer[value.chart_name]);
                google.visualization.events.addListener(chart, 'onmouseout', chartsDefaultPointer[value.chart_name]);
        }
      chart.draw(data, options);
      
    }
    else if(chart_type == 'BARCHART' )
    {
      // if all values are empty display "Data Not Available" instead of empty chart
      var arrayColumn = (arr, n) => arr.map(x => x[n]);
      var second_column = arrayColumn([["", "", {"role": "style"}], ["Shelter14", 1, "#FFAA00"]], 1);
      var slice_first_row = second_column.slice(1, second_column.length);
      var all_array_value = slice_first_row.filter(x => x > 0).length >= 1;

      

      if(all_array_value==true)
      {
        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
                { calc: "stringify",
                  sourceColumn: 1,
                  type: "string",
                  role: "annotation" },
                ]);
        chart = new google.visualization.BarChart(document.getElementById(containerID));
        if(on_click_url_template != '')
        {     
                google.visualization.events.addListener(chart, 'select', chartsFunctionname[value.chart_name]);
                google.visualization.events.addListener(chart, 'onmouseover', chartsHandPointer[value.chart_name]);
                google.visualization.events.addListener(chart, 'onmouseout', chartsDefaultPointer[value.chart_name]);
        }
        chart.draw(view, options);
      }
      else
      {
        document.getElementById(containerID).append("Data Not Available");
      }
    }
    else if(chart_type == 'COLUMNSTACK')
      {
          chart = new google.visualization.BarChart(document.getElementById(containerID));
          if(on_click_url_template != '')
          {     
                google.visualization.events.addListener(chart, 'select', chartsFunctionname[value.chart_name]);
                google.visualization.events.addListener(chart, 'onmouseover', chartsHandPointer[value.chart_name]);
                google.visualization.events.addListener(chart, 'onmouseout', chartsDefaultPointer[value.chart_name]);
          }
          chart.draw(data, options);
        
      }
  }
  chartsRef[value.chart_name] = chart;
}
}


</script>




