{% extends 'base.html' %}
{% load static %}
{% block contents %}
<div class="row align-items-center">
  <div class="col-xl-12 mx-auto">
    <div class="card">
      <div class="card-body">
        <form method="POST" class="needs-validation" autocomplete="off">
            {% csrf_token %}
            <div class="text-danger">
                {{ error }}
            </div>
            <div class="row mb-4">
                <label for="" class="col-md-2 col-form-label">Old Password<span class="required-field"></span></label>
                <div class="col-md-4">
                    <input type="password" class="form-control" name="old_password" placeholder="Enter your Old Password" required>
                </div>
            </div>
            <div class="row mb-4">
                <label for="" class="col-md-2 col-form-label">New Password<span class="required-field"></span></label>
                <div class="col-md-4">
                    <input type="password" class="form-control" name="password" placeholder="Enter your New Password" required>
                </div>
                <label for="" class="col-md-2 col-form-label">Confirm Password<span class="required-field"></span></label>
                <div class="col-md-4">
                    <input type="password" class="form-control" name="password2" placeholder="Confirm your New Password" required oninput="validatePassword()">
                </div>
            </div>
            <div class="gap-2">
                <button type="reset" onclick="location.href='javascript:history.back()'" class="btn btn-secondary waves-effect">
                    Cancel
                </button>
                <button type="submit" id="submitting" style="margin-left: 5px;" class="btn btn-primary w-md">Submit</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

    
{% endblock %}
    